.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
  width: 80%;
}

table,
td,
th {
  border: 1px solid;
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  margin: 50px 0px 50px 0px;
}

.kosz{
    margin-top: 50px;
}

#zamow{
  margin-top: 20px;
  width: 150px;
  height: 30px;
}

.suma a{
  text-decoration: none;
}