body {
    margin: auto;
    font-family: 'Arimo', sans-serif;
    font-size: medium;
}

.container {
    max-width: 1920px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    width: 60%;
    padding: 50px;
} 

table, td, th {
    border: 1px solid;
  }
  
  table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
  }