/* jeżeli pole jest błędne ale i nie pokazuje placeholdera */
/* input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid {
    border-color: red;
    outline: none;
    box-shadow: 0 0 2px red;
}

input:not(:placeholder-shown):required:valid,
textarea:not(:placeholder-shown):required:valid {
    border-color: #4dcc23;
    outline: none;
    box-shadow: 0 0 2px #4dcc23;
} */
body{
    margin: auto;
}

.form-error-text {
    display: none;
}

input:not(:placeholder-shown):invalid {
    border-color: tomato;
    outline: none;
    box-shadow: 0 0 2px tomato;
}
input:not(:placeholder-shown):invalid ~ .form-error-text {
    display: block;
}
input:not(:placeholder-shown):required:valid {
    border-color: #4dcc23;
    outline: none;
    box-shadow: 0 0 2px #4dcc23;
}
input:not(:placeholder-shown):required:valid ~ .form-error-text {
    display: none;
}

.form-row {   margin: 10px;}
